body {
    margin: 0;
    padding: 0;
}
#long {
    width: 100vw;
    height: 6400px;
    background-color: rgb(24, 20, 255);
    display: block;
    
}
p {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}