/* ===== 초기화 ===== */
* {
    color: #fff;
}
body {
    margin: 0;
    padding: 0;
}
button {
    width: 70px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
}
section {
    width: 100%;
    height: 500px;
    background: rgb(0, 0, 0);
}


/* ===== video ===== */
#video {
    width: 100%;
    height: 90%;
    background: rgb(0, 0, 0);
}

/* bottom button line */
.inner {
    position: relative;
    width: 100%;
    height: 10%;
    margin: 0;
    background: #000000;
}

/* bottom button left */
.summary {
    position: absolute;
    top: 10px;
    display: flex;
    width: 100%;
}
.left {
    width: 49.5%;
    margin-left: 0.5%;
    display: flex;

}
#btn_play {
    display: inline-block;
}
#btn_pause {
    display: none;
}
#current_time, .slide, #total_time {
    margin: 0 3px;
    display: flex;
    align-items: center;
    color: #fff;
}


/* bottom button right */
.right {
    margin-right: 1%;
    width: 49%;
    text-align: right;
}
#btn_mute {
    display: inline-block;
}
#btn_vm {
    display: none;
}
#progress {
    position: absolute;
    top: 0;
    height: 7px;
    cursor: pointer;
    background: rgb(163, 163, 163);
}
#bar {
    height: 7px;
    background: rgba(255, 217, 0, 0.801);
}